##################
/.vs/
/Debug/
/x64/
/bin/
/bin-int/

/Library/

/Library/opencv/sources/
/Library/opencv/build/java/
/Library/opencv/build/python/
/Library/opencv/build/etc/
/Library/opencv/build/x64/vc15/
/Library/opencv/build/x64/vc14/bin/*.pdb
/Library/opencv/build/x64/vc14/lib/opencv_world455d.lib


/LearnOpenCV/Debug/
/LearnOpenCV/x64/

#####################
*.sln
*.user
*.vcxproj
*.filters

*.png
*.mp4
*.jpg

